Package: com.skylerk99.cyspring
Name: CySpring
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Stops Cydia resprings from killing battery information.
Maintainer: Skyler Kansala
Author: Skyler Kansala
Section: Tweaks
